:root {
    --c_bg: #11666D;
    --c_section_a: #A4E0E6;
    --c_section_b: #D0F0F3;
    --c_heading_bg: #70abb5;
    --c_footer_bg: #062B2F;
    --c_navbar_bg: #31CDDA;
    --c_navbar_hover: #B6DEE5;
    --c_navbar_active: #088fa3;
    --c_text: #000000;
    --c_footer_text: #FFFFFF;
}

body {
    background-color: var(--c_bg);
    background-image: url("images/background.jpg");
    background-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

/*Navigation*/
nav{
    position: sticky;
    top: 0px;
    z-index: 1;
}

.topnav {
    background-color: var(--c_navbar_bg);
    overflow: hidden;
    max-width: 1250px;
    margin: auto;
    border-radius: 15px 15px 5px 5px;
    height: 60px;
}

    .topnav .container {
        place-content: center;
        top: 0;
        bottom: 0;
        width: auto;
        height: 100%;
    }

    .topnav a {
        float: left;
        display: inline-block;
        color: var(--c_text);
        padding: 4px 16px 4px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: var(--c_navbar_hover);
            color: var(--c_text);
        }

        .topnav a.active {
            background-color: var(--c_navbar_active);
            color: var(--c_text);
        }

    .topnav .rightAlign{
        float: right;
    }

    .topnav .home{
        display: grid;
        align-items:center;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }

    .topnav img.logo {
        float: inline-start;
        vertical-align: middle;
        width: auto;
        height: 100%;
        object-fit:contain;
        margin: 0px;
        padding: 0px;
    }

    .topnav .icon {
        display: none;
    }

    @media screen and (max-width: 600px){
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon{
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 600px){
        .topnav.responsive{
            position: relative;
            height:auto;
        }
        .topnav.responsive a.icon{
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a{
            float: none;
            display: block;
        }
        .topnav.responsive .home .logo{
            display:none;
        }
    }

.rightAlign {
    text-align: right;
}

/*Screen sections*/
.section-a {
    background-color: var(--c_section_a);
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    padding: 5px 30px 40px 30px;
    border-radius: 2px 2px 5px 5px;
    box-shadow: 5px 5px 10px;
}
/*Homepage name and desc.*/
    .section-a .titleCard {
        text-align: center;
        padding: 15vh 1vw 1vh 1vw;
        flex-basis: 20vw;
    }

@media screen and (max-width: 600px) {
    .section-a .titleCard {
        padding: 5vh 5vw 1vh 5vw;
    }
}

/*Social details page*/
.section-a .contactDetails {
    text-align: left;
    flex-basis: 75vw;
    padding: 3vh 2vw;
}

    .section-a .contactDetails > p.socialHeading {
        font-size: 18px;
        background-color: var(--c_heading_bg);
        padding: 0px 1vw 0px 1vw;
        max-width: 250px;
        border-radius: 5px 5px 0px 0px;
    }

        .section-a .contactDetails > p.socialHeading a {
            text-decoration: none;
            color: var(--c_text);
        }

    .section-a .contactDetails > p.socialHeading > .linkIcon {
        font-size: 30px;
    }
/*Portfolio link appearance*/
.section-a .portfolioHighlights {
    margin: auto;
}

.section-a .portfolioHighlights h3 {
    text-align: center;
}

    .section-a .portfolioHighlights a {
        text-decoration: none;
    }

        .section-a .portfolioHighlights a:hover {
            opacity: 0.7;
        }
        /*Used for filtering*/
    .section-a .portfolioHighlights .gridItem {
        width: 200px;
        height: 240px;
        background-color: var(--c_heading_bg);
        color: var(--c_text);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        border-radius: 5px 5px 3px 3px;
        margin: 3px;
    }

            .section-a .portfolioHighlights .gridItem .details {
                width: 200px;
                height: 40px;
                text-decoration: none;
            }

            .section-a .portfolioHighlights .gridItem .gridImage {
                width: 200px;
                height: 200px;
                position: relative;
                border-radius: 0px 0px 3px 3px;
            }

        .section-a .portfolioHighlights .portfolio .gridItem {
            display: none;
        }

            .section-a .portfolioHighlights .portfolio .gridItem.show {
                display: block;
            }
/*Page container style*/
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 600px)
{
    .flex-container{
        flex-direction: column;
    }

    .flex-container.portfolio {
        flex-direction: row;
    }
}
/*Footer related*/
footer {
    background-color: var(--c_footer_bg);
    color: var(--c_footer_text);
    overflow: hidden;
    max-width: 1250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px 5px 15px 15px;
}

    footer > p {
        padding: 0vh 0vw 0vh 6vw;
    }

.linkIcon {
    font-weight: 300;
    letter-spacing: 1rem;
    text-decoration: none;
}

footer .linkIcon {
    color: var(--c_footer_text);
}

footer a {
    color: var(--c_section_a);
}

.section-a .linkIcon {
    color: var(--c_text);
}

.section-a .photoColumn {
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    padding: 2vh 0vw 1vh 1vw;

    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: grid;
}

@media screen and (max-width: 600px) {
    .section-a .photoColumn {
        margin: auto;
        padding: 0px;
    }
}

.section-a .aboutColumn {
    text-align: center;
    margin: auto;
    flex-basis: 25vw;

    max-width: 100%;
    max-height: 100vh;
    display: grid;
}

/*Secondary section style*/
.section-b {
    background-color: var(--c_section_b);
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    padding: 2vh 30px 2vh 30px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px;
}

    .section-b > .flex-container.skill > p {
        background-color: var(--c_navbar_hover);
        margin: 5px 10px 5px 10px;
        padding: 10px;
        flex-grow: 1;
        text-align: center;
        border-radius: 10px;
    }
/*Portfolio filtering*/
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: var(--c_navbar_bg);
}

    .btn:hover {
        background-color: var(--c_navbar_hover);
    }

    .btn.currentFilter {
        background-color: var(--c_navbar_active);
    }

.miniNav {
    background-color: var(--c_navbar_bg);
    overflow: hidden;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 15px 15px 5px 5px;
}

/*Portfolio pages*/
.imageBox {
    max-width: 100vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.longImage {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display:grid;
    border-radius: 4px;
}

.descText {
    margin: auto;
    flex-basis: 75vw;
}

.smallDescText {
    position: relative;
    margin: auto;
    flex-basis: 30vw;
}

.smallNav {
    margin: auto;
    flex-basis: 15vw;
    position: relative;
    background-color: var(--c_navbar_bg);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 3px;
}

a.smallNavLink {
    align-content: center;
    display: block;
    color: var(--c_text);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

    a.smallNavLink:hover {
        background-color: var(--c_navbar_hover);
        color: var(--c_text);
    }

video {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: grid;
}