<p>Social Media: <a href="https://www.linkedin.com/in/emluperry" class="linkIcon fa fa-linkedin"></a> <a href="https://twitter.com/emluperry" class="linkIcon fa fa-twitter"></a> <a href="https://github.com/emluperry" class="linkIcon fa fa-github"> </a></p>
<p class="copyright">
    &copy; emluperry.
    Background Photo by <a href="https://unsplash.com/@blenderdesigner?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sufyan</a> on <a href="https://unsplash.com/photos/a-black-background-with-blue-shapes-on-it-O14TxnU2qtM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</p>