<div class="topnav" id="pageTopNav">
    <a href="/index.html" class="container home"><img class="logo" src="/images/logo/40.png" alt="" />HOME</a>
    <a class="container rightAlign" href="/contact.html"><span>SOCIALS</span></a>
    <a class="container rightAlign" href="/portfolio.html">PORTFOLIO</a>
    <a class="container rightAlign" href="/about.html">ABOUT</a>
    <a href="javascript:void(0);" class="icon leftLink container" onclick="unfurlTopnav()">
        <i class="fa fa-bars"></i>
    </a>
</div>